body{
    width:100%;font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
   font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  }
  h3 {
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
   font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; 
  } 
  p {
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
   font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; 
  }
  blockquote {
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
   font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; 
  }
  pre { 
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
   font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; 
  }
  #di4{
    height: 400px;
  
  }
  
  *:focus {outline:none !important;}
  @media (min-width: 768px) {
    #img1{
            position: relative;
          height: 125px;
      width: 216px;
      margin-top: -20px;
      margin-left: -10px;
      float: left;
    }
  }
                   /*****NAVBAR****/
  #monmenu {
     height: 130px;
     text-align: center;
     padding-left: 5px;
  }               
  #monmenu ul {
      display: inline-block;
      vertical-align: top;
      float: none;
      clear: both;
  }
  
  
  
  
  #monmenu ul li a {
     font-size: 25px;
  
  
  }
  .navbar{
      padding: 18px;
  }
  .navbar-toggle {
      position: relative;
  
      margin-right: 15px;
      padding: 9px 10px;
      margin-top: 28px;
      margin-bottom: 28px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
  }
  
  *:focus {outline:none !important}
  
  @media (min-width: 1000px) {
  #über{
  padding-left: 40px;
    }
  }
  @media (max-width: 768px) {
    #mst{
  padding-left:  5%;
    }
  }
  
  
  @media (max-width: 650px) {
  #cont{
   font-size: 40px;
   padding-bottom: 5%;
  }
  #hr1{
   border-top: 4px solid #719fff;width: 50%;text-align: center;
  }
  }
  
  @media (min-width: 650px) {
  #cont{
    font-size: 80px;
   padding-bottom: 18%;
  }
  #hr1{
    border-top: 4px solid #719fff;width: 50%;text-align: center;
  }
  }    
  
  @media (min-width: 880px) {
  #cont{
    font-size: 100px;
   padding-bottom: 25%;
  }
  #hr1{
    border-top: 8px solid #719fff;width: 50%;text-align: center;
  }
  }
  
  @media (min-width: 1200px) {
  #cont{
   font-size: 100px;
   padding-bottom: 25%;
  }
  #hr1{
    border-top: 8px solid #719fff;width: 50%;text-align: center;
  
  }
  }
  
  #map{
  padding-left: 50px;
  padding-right:  50px;
  padding-top: 50px; 
    height: 300px;
    width: 100%;
  }
  
  .wrapper{
      position: relative;
      top: 20%;
      transform: translateY(-50%);
      width: 100%;
      padding: 7%;
  }
  
  .contact-form{
    position: absolute;
      margin-top: 50px;
  
      margin: 10%;
      background: rgba(0,0,0,0.9);
      padding: 7%;
      border-radius: 8px;
  }
  .input-fields{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin :8px 0;
    border-bottom: 1px solid #719fff;
  }
  .row{
  margin-top: 15px;
  }
  
  
  @media (max-width: 576px) {
  #parti_mail{
    height: 1000px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: transform .5s ease;
    overflow: hidden;
     }
  }
  @media (min-width: 576px) {
  #parti_mail{
   
    height: 1000px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: transform .5s ease;
    overflow: hidden;
     }
  }
  @media (min-width: 768px) {
  #parti_mail{
  
    height: 700px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: transform .5s ease;
    overflow: hidden;
     }
  }
  @media (min-width: 1200px) {
  #parti_mail{
  
    height: 700px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    transition: transform .5s ease;
    overflow: hidden;
     }
  }
  
  .button1{
    border: 1px solid #82b1ff;
    background: #82b1ff;
    color: #fff;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s ;
  }
  
  
  
  
  
  #contact-form{
  
      background: rgba(0,0,0,0.4);
      padding: 40px;
      border-radius: 8px;
  }
  input:focus{outline:none !important;}
  
  
  
  
  
  
  